.App {
  color: #333;
  border: 1px solid #aaa;
  border-radius: 4px;
  background: white;
  margin: 2em auto;
  min-height: 20em;
  min-width: 32em;
  box-shadow: 0 0 1em hsla(0,0%,0%,0.5);
  height: 90vh;
  width: 800px;
  position: relative;
}

#header {
  background: #5E99EC;
  padding: 1em 0;
}

#header h1 {
  margin: 0.1em;
  text-align: center;
  color: #FFF;
}

.inputWrapper {
  padding: 1em 0;
  background: #B3CBEC;
  text-align: center;
}

.inputWrapper .content {
  border: none;
  outline: none;
  padding: 1em 2em;
  width: 70%;
  border-radius: 1em;
  background: rgba(0, 120, 221, 0.5);
  box-shadow: 0 0 10px #0078dd;
  color: #FFF;
  font-size: 16px;
}

.todoList {
  padding: 1em;
  background: #ECD5B3;
  position: absolute;
  top: 156px;
  left: 0;
  right: 0;
  bottom: 0;

}

.todoList .item {
  padding: 1em 2em;
  border-bottom: 2px solid #ECE3D5;
}